/* Default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
.menu-icon{
  width: 35px;
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
  z-index: 5;

}
.menu-box{
  width: 80%;
  background: #242449;
  position: absolute;
  top: 17%;
  left: 10%;
  padding: 50px 100px;
  transition: top 1s;
}
.right-links{
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
}
.right-links img{
  width: 50px;
  margin-left: 20px;
  cursor: pointer;
}
.right-links a{
  text-decoration: none;
  color: white;
  background: #f92537;
  padding: 15px 40px;
  border-radius: 30px;
}
.menu-links a{
text-decoration: none;
color: white;
display: block;
width: fit-content;
margin: 30px 0;
font-size: 36px;
}
.menu-links a::after{
  content: '';
  width: 40px;
  height: 5px;
  background: #f92537;
  display: none;
  margin-left: 10px ;
  margin-bottom: 5px;
}
.menu-links a:hover{
font-weight: 700;

}
.menu-links a:hover::after{
  display: inline-block;
}

#background-video {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

#background-video video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

#background-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1) !important;
}


.home-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  background: black;
}

.home-container h1 {
  font-family: Arial;
  font-weight: 800;
  font-size: 80px;
  text-align: center;
  position: absolute;
  top: 25%;
  white-space: nowrap;
}
button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  animation: moveUpDown 2s infinite;
  position: absolute;
  top: 65%;
}
/* Animation */
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Remove default button styles */
button:focus {
  outline: none;
}
.arrow-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.arrow-button i {
  margin-right: 5px;
}

.tradingview-widget-container {
  position: absolute;
  top: 93%;
  bottom: 0;
  left: 0;
  width: 100%; /* Add width to occupy the full width */
  z-index: 1; /* Increase z-index to be above the background */
}

/* Add this CSS to style the trading widget */
.tradingview-widget-container__widget {
  width: 100%;
  height: 100%;
}

/* Media query for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
  #background-video,
  #background-video video {
    height: 100%;
  }

  .home-container h1 {
    font-size: 30px;
    white-space: normal;
    position: absolute;
    top: 40%;
  }

  button {
    top: 60%;
    padding: 5px 10px;
  }
}
// ----------------------second page-------------------------------------
