*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-container{
 margin-top: 15%;
 margin-left: 100px;
 font-family: sans-serif;
}
.text h1{
    font-size: 40px;
    line-height: 45px;
    font-weight: 800;
}
.text p{
    margin-top: 30px;
    line-height: 25px;
    color: gray;
}
span{
    color: blue;
}
.btn-1{
    padding: 15px 50px;
    border: transparent;
    color: white;
    background: blue;
    margin-top: 25px;
    font-weight: 600;
    font-size: 15px;
    font-family: sans-serif;
}
.img-1{
    width: 480px;
    position: absolute;
    right: 35px;
    top: 30%;
    border-top-right-radius: 40px;
    margin-right: 60px;
}

.tradingview-widget-container{
    position: absolute;
    top: 90%;
}

/* ======================Service========================== */
.box-container {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background-color: #ffffff;
}

.box-container h1 {
    margin-top: 150px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.box-container p {
    line-height: 1.5;
    font-family: sans-serif;
}

.box-container h1::after {
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.service {
    text-align: left;
    padding: 110px 30px; /* Increase the height of each service box */
    border-radius: 5px;
    font-size: 16px; /* Adjust the font size for h2 and p */
    cursor: pointer;
    background-color: #f9f9f9;
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service i {
    font-size: 40px;
    margin-bottom: 30px;
    color: #303ef7;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 30px; /* Adjust the font size for h2 */
    font-weight: 600;
}

.service p {
    font-size: 14px; /* Adjust the font size for p */
    text-align: left;
    margin-top: 30px;
}

.service:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service:hover .learn {
    color: #313de4;
}

.service .learn {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    top: 50px;
}


/* ============================info================================= */

#info{
    width: 100%;
    height: 50vh;
    margin-top: 230px;
}
.img-2{
    width: 480px;
    border-top-left-radius: 40px;
}
.text-2{
    float: right;
    text-align: left;
}
.text-2 h2{
    font-size: 30px;
    line-height: 45px;
    font-weight: 800;
    margin-top: 30px;
    margin-right: 50px;
}


.text-2 p{
    margin-top: 20px;
    line-height: 25px;
    color: gray;
    margin-right: 50px;
}
  
  /* ========================steps=========================== */

  .rows{
    margin-top: 200px;

  }

.step-container {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background-color: #ffffff;
}

.step-container h1 {
    margin-top: 150px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.step-container p {
    line-height: 1.5;
    font-family: sans-serif;
}

.step-container h1::after {
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.rows {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.services {
    text-align: left;
    padding: 70px 30px; /* Increase the height of each service box */
    border-radius: 5px;
    font-size: 16px; /* Adjust the font size for h2 and p */
    cursor: pointer;
    background-color: #f9f9f9;
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.services i {
    font-size: 40px;
    margin-bottom: 40px;
    color: #303ef7;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 30px; /* Adjust the font size for h2 */
    font-weight: 600;
}

.services p {
    font-size: 14px; /* Adjust the font size for p */
    text-align: left;
    margin-top: 30px;
    color: rgb(37, 36, 36);
    line-height: 20px;
}

.services:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-step{
    color: black;
    text-decoration: none;
    position: relative;
    top: 30px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.btn-step:hover{
    font-weight: 600;
}


/* ----------------------number------------------------- */
.counter-container {
    width: 100%;
    height: 100vh;
  }
  
 .counter-container h1{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 800;
 }
 .counter-container p{
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    color: gray;
    font-size: 18px;
 }
  .counter-box {
    display: flex;
    justify-content: center;
  }
  
  .count {
    padding: 5rem 0;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
  }
  
  @media screen and (min-width: 768px) {
    .count {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (min-width: 992px) {
    .count {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  article {
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    border-bottom: 4px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
  }
  
  .counter {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.25;
    border-radius: 0.25rem;
    font-weight: 800;
    font-family: sans-serif;
  }
  
  article p {
    margin: 0;
    text-transform: capitalize;
    font-size: 20px;
  }
  
  article:nth-of-type(1) {
    border-bottom-color: blue;
  }
  
  article:nth-of-type(2) {
    border-bottom-color: blue;
  }
  
  article:nth-of-type(3) {
    border-bottom-color: blue;
  }
  

  /* ============================testimonial container=================== */


  #testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  #testimonials h1{
    font-size: 40px;
    font-weight: 800;
    font-family: sans-serif;
    margin-top: 30%;
  }
  
  .testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4%;
  }
  
  .testimonial-box {
    width: 500px;
    background-color: #ffffff;
    padding: 30px;
    margin: 15px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1); /* Blending box shadow with white background */
  }
  
  .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .name-user {
    display: flex;
    flex-direction: column;
  }
  
  .name-user strong {
    color: #3d3d3d;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
  
  .name-user span {
    color: #979797;
    font-size: 14px;
  }
  
  .reviews {
    color:blue;
  }
  
  .box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .client-comment p {
    font-size: 15px;
    color: #4d4d4d;
    line-height: 1.5;
  }
  
  .testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
  
  @media (max-width: 1060px) {
    .testimonial-box {
      width: 45%;
      padding: 10px;
    }
  }
  
  @media (max-width: 790px) {
    .testimonial-box {
      width: 100%;
    }
    .testimonial-heading h1 {
      font-size: 1.4rem;
    }
  }
  
  @media (max-width: 340px) {
    .box-top {
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    .reviews {
      margin-top: 10px;
    }
  }
  
  ::selection {
    color: #ffffff;
    background-color: #252525;
  }
  


  /* ========================partners======================= */

  /* ------------------------Partners----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container-slide{
    width: 100%;
    height: 100vh;
    margin-top: 200%;
}
.container-slide h1{
   text-align: center;
    padding-top: 20%;
    margin-bottom: 60px;
    font-weight: 800;
    position: relative;
    font-family: sans-serif;
}
.container-slide h1::after{
    content: '';
    background: blue;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 80%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}



/* ======================FAQ======================= */

.accordion{
    margin: 10px auto;
    width: 800px;
}
.accordion h1{
    text-align: center;
    padding-top: 5% auto;
    margin-bottom: 60px;
    font-weight: 800;
    position: relative;
    font-family: sans-serif;
    font-size: 40px;
}
.accordion h1::after{
    content: '';
    background: blue;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.accordion li{
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: white;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255,255,255,0.7);
    font-weight: 500;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    font-family: sans-serif;
}
label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    color: lightslategray;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}
.accordion input[type="radio"]:checked + label::before{
    content: '-';
}

/* ================Blog============== */

#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100vh;
    margin-top: 55%;
  }
  .blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .blog-heading h1{
    text-align: center;
    padding-top: 5% auto;
    margin-bottom: 60px;
    font-weight: 800;
    position: relative;
    font-family: sans-serif;
    font-size: 40px;
  }
  .blog-heading h1::after{
    content: '';
    background: blue;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

  }
  .blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
  }
  
  .blog-box{
    width:350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px 20px;
    border-radius: 30px;
  
  }
  .blog-img{
    width:100%;
    height: 250px;
   
  }
  .blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .blog-text span{
    color: blue;
    font-size: 0.9rem;
  }
  .blog-text h3{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
  }
  .blog-text h5{
    font-size: 15px;
    font-weight: 400;
  }
  .blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
  }
  .blog-text{
    color: #0f0f0f;
    text-decoration: none;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .blog-text a:hover{
    color: blue;
    transition: all ease 0.3s;
  }
  
  @media(max-width:1250px){
  
    .blog-box{
        width: 300px;
    }
  } 
  @media(max-width:1100px){
    .blog-box{
        width:70%;
    }
  }
  
  @media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
  }
  /* ============================newslettter======================== */
  .contents {
    text-align: center;
    padding: 60px 40px;
    background-color: black;
    width: 100%;
    height: 100vh;
    margin-top: 10%;
    border-radius: 30px;
   
  }
  
.contents h1 {
  font-size: 50px;
  font-weight: 800;
  color: white;
}

.contents p {
  color: gray;
  margin-top: 15px;
  line-height: 23px;
}
.newsletter-info {
  max-width: 1000px; /* Set the desired maximum width */
  margin: 20px auto; /* Center the paragraph horizontally */
}

.form {
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 50%;
}

.form-btn {
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 20px 25px;
  font-size: 16px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: 500;
  position: relative;
  right: 20px;
  border: none;
}

.form-btn:hover {
  color: white;
  background: gray;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: white;
  display: flex;
  gap: 40px;
  font-size: 25px;
}

.newsletter-section {
  flex-direction: row;
  justify-content: center;
}

.form {
  margin-right: 10px;
}

/* ============footer================== */
.footer{
  margin-top: 50%;
}
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.rowss{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: blue;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .online-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .online-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

/* -----------------------------------Footer--------------------------------------- */


